.home {
    background-color: rgba(207, 207, 207, 0);
    display: grid;


    justify-items: center;
    // align-items: center;
    grid-template-rows: [heade-s] 218px [header-e card-s] minmax(736px, 994px) [card-e];
}

.header {
    align-self: center;
}
.card {
    min-height: 736px;
    max-height: 994px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,.06);
    border-radius: 7px;

    display: grid;
    grid-template-rows: 1fr 50px;
   
    &__inputs {
        background-color: skyblue;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);

    // juistify centers along the rows and align centers along the columns
        justify-items: center; 
        align-items: center;
    }
} 


.input {
    display: grid;
    // grid-template-rows: 1fr 1fr 1fr; he changed to 26px, 1fr, 1fr to number-s & s equals 'start' and e equals 'end'
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];

    &__title {
        // grid-column: 2/3;----  now we can name it:
        grid-column: input-s/imput-e;

    }
    input {
        grid-column: input-s/imput-e;
    }
    &__number {
        grid-column: number-s/number-e;
    }    
}